* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.header-logo {
    width: 10rem;
}

.header-title {
    padding-left: 2rem;
    font-size: 3rem;
    color: #fcf4a5;
}

.navbar-container {
    padding: 0 30rem;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.navbar-link {
    padding-top: 1.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
    transition: border-bottom 0.5s;
}

.navbar-link:hover {
    border-bottom: 0.2rem solid #000;
}

